
<ion-header>

    <ion-toolbar>
        <ion-title>Menu</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content padding>

  <ion-list>
      <ion-list-header>Device-List</ion-list-header>
      <ion-item *ngFor="let device of devicelist" (click)="switchDevice(device)">       
          {{device.$key}} : {{device.control}}  
          <div *ngIf="device.control==0">"เปิด"</div>
          <div *ngIf="device.control==1">"ปิด"</div>
      </ion-item>
    </ion-list>
  

    <ion-item>
        <ion-label>เวลาเช้า</ion-label>
        <ion-datetime displayFormat="HH:m " pickerFormat="HH mm" [(ngModel)]="deviceb.time_morning" ></ion-datetime>
      </ion-item>
    <ion-item>
          <ion-label>กลางวัน</ion-label>
          <ion-datetime displayFormat="HH:m " pickerFormat="HH mm" [(ngModel)]="deviceb.time_noon"></ion-datetime>
        </ion-item>
    <ion-item>
            <ion-label>เวลาเย็น</ion-label>
            <ion-datetime displayFormat="HH:m " pickerFormat="HH mm" [(ngModel)]="deviceb.time_night"></ion-datetime>
      </ion-item>
    <div padding>
          <button ion-button full (click)="setTime(deviceb)">SetTime</button>
      </div>

</ion-content>

<ion-menu [content]="mycontent">
    <ion-content>
      <ion-list>
        <p>Home</p>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-nav #mycontent [root]="rootPage"></ion-nav>
